.skills-container {
    width: 100%;

    .title {
        display: flex;
        justify-content: center;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        .skill {
            display: flex;
            justify-content: center;
        }
    }
}

ul {
    padding-inline-start: none !important;
}

li {
    list-style: none;
}

@media only screen and (min-width: 700px) {
    .skills {
        flex-direction: row !important;
        justify-content: space-between !important;
    }
}