.card {
    width: 100%;
    height: 315px;
    border-radius: 25px;
    background-color: blue;
}

@media only screen and (min-width: 415px) {
    .card {
        width: 415px;
        height: 415px;
    }
}