.about-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-container {
        width: 75%;
        .profile-pic {
            max-width: 100%;
            height: auto;
            border-radius: 10%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

    .text-container {
        .heading {
            font-weight: bold;
        }

    }
}

@media only screen and (min-width: 600px) {
    .about-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;

        .img-container {
            width: 90%;
        }
    }
}