@use '../../scss/Abstracts/colors' as c;

.top-nav {
    background-color: c.$white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 81px;
    padding: 0 35px;
    box-shadow: none;
    transition: box-shadow 0.7s linear;

    &.active {
        box-shadow: 0 0 0 1px c.$dark-grey;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        li {
            a {
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-weight: 700;
                font-size: 29.81px;
                line-height: 36px;
                margin: 4px 2px;
                cursor: pointer;
            }

            &.active {
                border-bottom: 2px solid c.$black;

                a {
                    color: c.$black;
                }
            }

            &.disabled {
                a {
                    color: c.$grey;
                }
                :hover {
                    color: c.$black;
                }
            }
            :active {
                color: c.$green !important;
            }
        }

    }
}

#nav-line{
    height: 1px;
    background-color: c.$dark-grey;
    border: none;

    &#hidden {
        background-color: transparent;
    }
}

@media only screen and (min-width: 600px) {
    .top-nav {
        
    }
}