@use '../../scss/Abstracts/colors' as c;

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 80px;
    padding: 0 35px;
    box-shadow: none;
    transition: box-shadow 0.7s linear;

    &.active {
        box-shadow: 0 0 0 1px c.$dark-grey;
    }

    .logo{
        height: 40px;
    }

    .logo-img {
        height: 44px;
        width: 44px;
        border-radius: 10px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        padding-left: 0px;

        li {
            a {
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-weight: 700;
                font-size: 29.81px;
                line-height: 36px;
                margin: 4px 2px;
                cursor: pointer;
            }
        }
    }
    
    .icon {
        height: 25px;
    }

    #darkmode, #lightmode {
        cursor: pointer;
        width: 25px;
    }
}

@media only screen and (min-width: 600px) {
    .top-nav {
        
    }
}