@use '../../scss/Abstracts/colors' as c;

.footer {
    margin: auto;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 1px solid c.$dark-grey;

    .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        #linked-in {
            :hover {
                color:#0072b1;
            }
        }
        #envelope {
            :hover {
                color: c.$green;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .footer {
        padding: 0 70px;
        
    }
}