@use '../../scss/Abstracts/colors' as c;

.footer {
    margin: 20px 0;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .footer-text {
        font-size: 13.33px;
        line-height: 16px;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        #linked-in {
            :hover {
                color:#0072b1;
            }
        }
        #envelope {
            :hover {
                color: c.$green;
            }
        }
    }
}