@use './Abstracts/colors' as c;
@use './Abstracts/fonts' as f;

html {
    height: 100%;

}

body {
    margin: 0;
    font-family: f.$noto-sans-symbol;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;

}

h1 {
    font-size: 39.81px;
    font-weight: 700;
    letter-spacing: 0.08em;
}

h2 {
    font-size: 27.81px;
    font-weight: 700;
    letter-spacing: 0.08em;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.04em;

    &.small {
        font-size: 13.33px;
        line-height: 16px;
    }

    &.large {
        font-size: 19.2px;
        line-height: 36px;
    }
}

hr {
    height: 1px;
    background-color: c.$dark-grey;
    border: none;
}

.container {
    padding: 0 35px;
    min-height: 100vh;
}


[data-theme='dark'] {
    background-color: c.$black;
    color: c.$white;

    .top-nav {
        background-color: c.$black;
        ul {
            li {
                &.active {
                    border-bottom: 2px solid c.$green;
                a {
                    color: c.$green;
                }
                }
                &.disabled { 
                    a {
                        color: c.$dark-grey;
                    }
                    :hover {
                        color: c.$green;
                    }
                }
    
                :active {
                    color: c.$dark-green !important;
                }
            }
        }
        #lightmode {
            filter: invert(58%) sepia(17%) saturate(1176%) hue-rotate(76deg) brightness(98%) contrast(94%);
        }
    }
}

[data-theme='light'] {
    background-color: c.$white;
    color: c.$black;
    .top-nav {
        background-color: c.$white;
        ul {
            li {
                &.active {
                    border-bottom: 2px solid c.$black;
                a {
                    color: c.$black;
                }
                }
                &.disabled { 
                    a {
                        color: c.$grey;
                    }
                    :hover {
                        color: c.$black;
                    }
                }
    
                :active {
                    color: c.$green !important;
                }
            }
        }
        #darkmode {
            filter: invert(21%) sepia(5%) saturate(412%) hue-rotate(71deg) brightness(91%) contrast(87%);
        }
    }
}

@media only screen and (min-width: 600px) {
    .container {
        padding: 0 70px;
        
    }
}