@use './Abstracts/colors' as c;
@use './Abstracts/fonts' as f;

body {
    margin: 0;
    font-family: f.$noto-sans-symbol;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: c.$white;
}